@tailwind base;
  @tailwind components;
  @tailwind utilities;
  

  .flip-card {
    perspective: 1000px; /* This gives the image depth for the 3D effect */
  }
  
  .flip-card img {
    transition: transform 0.7s;
    transform-style: preserve-3d;
  }
  
  .flip-card img:hover {
    transform: rotateY(180deg); /* Flips the image */
    backface-visibility: hidden; /* Hides the back of the image */
  }
  @keyframes zoom {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  .animate-zoom {
    animation: zoom 1.5s ease-in-out infinite;
  }
  
  .animation-marquee {
    animation: marquee 190s linear infinite;
    animation-play-state: running;
  }
  
  .animation-marquee:hover {
    animation-play-state: paused;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  
  .shimmer {
    position: relative;
    overflow: hidden;
  }

  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slide-up {
    animation: slide-up 0.5s ease-out forwards;
  }